.github/**
.vscode/**
src/**
test/**
scripts/**
tsconfig.json
out/**
output/**
tmp/**
**/*.map
node_modules/**
!node_modules/sharp/**
!node_modules/detect-libc/**
!node_modules/semver/**
!node_modules/tslib/**
!node_modules/@emnapi/
node_modules/@emnapi/**
!node_modules/@emnapi/runtime/**
!node_modules/@img/
node_modules/@img/**
!node_modules/@img/colour/**
!node_modules/@img/sharp-wasm32/**
